h2 {
    font-style: italic;
    font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    ;
    font-weight: bold;
    font-size: 50px;
    margin-left: 20px
}

hr {
    display: block;
    margin: 0.5em auto 0.5em auto;
    border-style: inset;
    border-width: 2px;
}


/*Custom styles applied to all elements in the form group*/

form {
    font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    font-weight: 400;
    font-size: 15px;
    max-width: 400px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 10px 10px grey;
    padding: 40px 10px 40px 10px;
    background: white
}

button {
    padding: 10px 20px 10px 20px;
    width: 100px;
    position: relative
}

label {
    text-align: left;
    color: blueviolet
}