h3 {
    inline-size: 200px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder
}

.navbar {
    background-color: #657383;
    padding-bottom: 0px;
    margin-bottom: 2px
}

.navbar #mem-val,
.navbar #name-user,
.navbar h3,
.navbar h4 {
    color: white
}

.dropdown-menu {
    background-color: #657383
}

.navbar h4 {
    border: 10px
}

.navbar #name-user:hover,
.navbar h4:hover {
    background-color: white;
    color: #657383
}

.badge {
    background-color: gold;
    color: black
}

a {
    font-size: 15px;
    font-style: italic;
}

.img-icon {
    height: 34px
}

.btn {
    background-color: #737CA1;
    color: white
}

.btn:hover {
    background-color: #737CA1;
    color: white
}

.form-control,
.btn {
    height: 40px
}


/* custom style for junmbotron elements*/

.jumbotron {
    padding-top: 70px;
    padding-bottom: 5px
}

.jumbotron .badge {
    background-color: #E77471
}

.jumbotron p {
    font-size: 18px;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    display: inline-block;
}

.jumbotron a {
    margin-left: 40%;
}

.blue {
    color: blue;
    padding-left: 3px;
    padding-top: 0px
}