h3 {
    inline-size: 200px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder
}

.navbar {
    background-color: #657383;
    padding-bottom: 0px;
    margin-bottom: 2px
}

.navbar #mem-val,
.navbar #name-user,
.navbar h3,
.navbar h4 {
    color: white
}

.dropdown-menu {
    background-color: #657383
}

.navbar h4 {
    border: 10px
}

.navbar #name-user:hover,
.navbar h4:hover {
    background-color: white;
    color: #657383
}

.badge {
    background-color: gold;
    color: black
}

a {
    font-size: 15px;
    font-style: italic;
}

.img-icon {
    height: 34px
}

.btn {
    background-color: #737CA1;
    color: white
}

.btn:hover {
    background-color: #737CA1;
    color: white
}

.form-control,
.btn {
    height: 40px
}


/* custom style for junmbotron elements*/

.jumbotron {
    padding-top: 70px;
    padding-bottom: 5px;
    margin-bottom: 0px
}

.jumbotron .badge {
    background-color: #E77471
}

.jumbotron p {
    font-size: 18px;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    display: inline-block;
}

.jumbotron a {
    margin-left: 40%;
}

.blue {
    color: blue;
    padding-left: 3px;
    padding-top: 0px
}

.row .row-title,
.row .row-author,
.row .row-description {
    border-bottom: 3px solid burlywood;
    margin-left: 0px;
}

.col-md-1,
.col-md-7 {
    padding: 40px;
    height: 200px;
    background-color: blue
}

.col-md-4 {
    margin-top: 0px;
    margin-right: 0px;
    border-right: 3px solid burlywood;
    border-left: 3px solid burlywood;
    border-bottom: 3px solid burlywood;
    height: 500px;
    background-color: paleturquoise;
    max-width: 400px;
    min-width: 200px;
    overflow-y: scroll
}

.col-md-4 li {
    color: #5C5858
}

.panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: left;
    color: grey;
    margin-right: 20px
}

.panel-heading .accordion-toggle.collapsed:after {
    content: "\e080";
}

hr {
    margin-top: 50px;
}

footer {
    position: 100%
}