/*General custom styles applied to all elements in the body*/

body {
    font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    background-image: url(../images/background.jpg);
    font-weight: 400;
    font-size: 15px;
}


/*custom styling applicable to navigation bar and login/signup forms*/

.navbar {
    color: rgb(127, 124, 124);
    font-size: 16px;
    padding-bottom: 0px;
    padding-top: 7px;
    text-align: center;
    border-top: 1px solid rgb(219, 229, 232);
    border-radius: 0 0 5px 5px;
    background: rgb(225, 234, 235);
    background: repeating-linear-gradient(-45deg, rgb(247, 247, 247), rgb(247, 247, 247) 15px, rgb(225, 234, 235) 15px, rgb(225, 234, 235) 30px, rgb(247, 247, 247) 30px);
}

.navbar-right {
    margin-right: 20px;
    margin-bottom: 0px
}

h2 {
    text-align: center;
    font-weight: bold;
    color: #342D7E
}

h4 {
    font-size: 20px;
    font-weight: bold;
    color: #342D7E
}

.sr-only,
.form-control {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 16px;
}


/*custom styles for user home-page*/

.row {
    background-color: #6F4E37;
    padding-bottom: 10px
}

.row p {
    color: white
}


/* Custom style for sign in form*/

form {
    font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    font-weight: 400;
    font-size: 15px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 5px 5px rgb(130, 130, 233);
    padding: 40px 10px 80px 10px;
    background: white;
    height: auto;
}

.route-container {
    padding-top: 5%
}

.glyphicon-chevron-right {
    font-size: 15px
}


/**Custom styling to add triangle to dropdown*/

.dropdown-menu-triangle-b-d:before,
.dropdown-menu-triangle-b-u:before,
.dropdown-menu-triangle-b-l:before,
.dropdown-menu-triangle-b-r:before,
.dropdown-menu-triangle-b-d:after,
.dropdown-menu-triangle-b-u:after,
.dropdown-menu-triangle-b-l:after,
.dropdown-menu-triangle-b-r:after {
    display: inline-block;
    position: absolute;
    content: '';
}

.dropdown-menu-triangle-b-d:before {
    top: -7px;
    left: 9px;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top-color: rgba(0, 0, 0, 0.2);
}

.dropdown-menu-triangle-b-d:after {
    top: -6px;
    left: 10px;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent
}

.dropdown-menu-triangle-b-u:before {
    bottom: -7px;
    right: 9px;
    border-top: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
}

.dropdown-menu-triangle-b-u:after {
    bottom: -6px;
    right: 10px;
    border-top: 6px solid #fff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent
}

.dropdown-menu-triangle-b-r:before {
    left: -7px;
    bottom: 9px;
    border-right: 7px solid #ccc;
    border-bottom: 7px solid transparent;
    border-top: 7px solid transparent;
    border-left-color: rgba(0, 0, 0, 0.2);
}

.dropdown-menu-triangle-b-r:after {
    left: -6px;
    bottom: 10px;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent
}

.dropdown-menu-triangle-b-l:before {
    right: -7px;
    bottom: 9px;
    border-left: 7px solid #ccc;
    border-bottom: 7px solid transparent;
    border-top: 7px solid transparent;
    border-left-color: rgba(0, 0, 0, 0.2);
}

.dropdown-menu-triangle-b-l:after {
    right: -6px;
    bottom: 10px;
    border-left: 6px solid #fff;
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent
}


/**Custom style for statement component*/

.statement {
    background-color: blue;
    height: 100%;
    padding: 0px
}

.logo-crop {
    background-color: white;
    margin: 50px 50px 50px 10px;
    padding: 20px;
    color: blue
}

.header {
    background-color: red;
    margin: 10px 20% 10px 0px;
    padding: 30px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white
}

.statement-content {
    padding-bottom: 100px
}

.header-1 {
    float: right;
    font-weight: bold
}

.header-2 {
    float: right;
    color: black;
    font-style: italic;
    font-weight: bold
}

.childrenClass {
    padding: 10px;
    margin: 0;
    background-color: #6F4E37
}


/*Styling for custom list*/

.list-item:hover {
    background-color: rgb(71, 68, 214);
    color: white
}